<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wanderer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='app.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
    <script src="{{ url_for('static', path='app.js') }}" defer></script>
    <script defer src="https://unpkg.com/alpinejs@3.14.8/dist/cdn.min.js"></script>
</head>
<body>
    <main id="scene-container">
        {% include content_template %}
    </main>
</body>
</html>
